 <section class="slide ">
  <header class="header">
    <div class="text-box">
        <h1 class="headig-primary justify-content-center">
            <span class="heading-primary--main">Welcome To</span>
            <span class="heading-primary--sub">Continental Commercial Company</span>
            <span class="heading-primary--sub"> <a href="/" class="btn1 btn1--white btn1--animation">Read More</a></span>
           
            <!-- <div class="container">  
              <ngb-carousel>  
                  <ng-template ngbSlide class="slider">  
                      <img class="d-block" src="./assets/AMLIGHT.jpg" alt="Lamp1">  
                      <div class="carousel-caption">  
                          <h3>Lamp1</h3>  
                      </div>  
                  </ng-template>  
                  <ng-template ngbSlide>  
                      <img class="d-block" src="./assets/lamp2.jpg" alt="Lamp2">  
                      <div class="carousel-caption">  
                          <h3>Lamp2</h3>  
                      </div>  
                  </ng-template>  
                  <ng-template ngbSlide>  
                      <img class="d-block" src="./assets/lapm1.webp" alt="Lamp3">  
                      <div class="carousel-caption">  
                          <h3>Motors</h3>  
                      </div>  
                  </ng-template>  
                  <ng-template ngbSlide>  
                      <img class="d-block" src="./assets/mlamp.jpg" alt="Lamp4">  
                      <div class="carousel-caption">  
                          <h3>magnetic</h3>  
                      </div>  
                  </ng-template>  
                  <ng-template ngbSlide>  
                      <img class="d-block" src="./assets/lapm1.webp" alt="Lamp5">  
                      <div class="carousel-caption">  
                          <h3>Lights</h3>  
                      </div>  
                  </ng-template>  
              </ngb-carousel>  
          </div> -->
          <!-- <div class="container12">
	
            <input type="radio" id="i1" name="images" checked title="Lamps"/>
            <input type="radio" id="i2" name="images" />
            <input type="radio" id="i3" name="images" />
            <input type="radio" id="i4" name="images" />
            <input type="radio" id="i5" name="images" />	
            
            <div class="slide_img" id="one">			
                
                <img src="./assets/lamp2.jpg" title="Lamps">
                
                  <label class="prev" for="i5"><span>&#x2039;</span></label>
                  <label class="next" for="i2"><span>&#x203a;</span></label>	
              
            </div>
            
            <div class="slide_img" id="two">
              
                <img src="./assets/AMLIGHT.jpg" title="Lamps" >
                
                  <label class="prev" for="i1"><span>&#x2039;</span></label>
                  <label class="next" for="i3"><span>&#x203a;</span></label>
              
            </div>
                
            <div class="slide_img" id="three">
                <img src="./assets/lamp2.jpg" title="Lamps">	
                
                  <label class="prev" for="i2"><span>&#x2039;</span></label>
                  <label class="next" for="i4"><span>&#x203a;</span></label>
            </div>
          
            <div class="slide_img" id="four">
                <img src="./assets/AMLIGHT.jpg" title="Lamps">	
                
                  <label class="prev" for="i3"><span>&#x2039;</span></label>
                  <label class="next" for="i5"><span>&#x203a;</span></label>
            </div>
          
            <div class="slide_img" id="five">
                <img src="./assets/AMLIGHT.jpg" title="Lamps">	
                
                  <label class="prev" for="i4"><span>&#x2039;</span></label>
                  <label class="next" for="i1"><span>&#x203a;</span></label>
          
            </div>
          
            <div id="nav_slide2">
              <label for="i1" class="dots" id="dot1"></label>
              <label for="i2" class="dots" id="dot2"></label>
              <label for="i3" class="dots" id="dot3"></label>
              <label for="i4" class="dots" id="dot4"></label>
              <label for="i5" class="dots" id="dot5"></label>
            </div>
              
          </div> -->
          <div class="containerslider">
          <div id="slider">
            <figure>
            <img src="./assets/lamp2.jpg" alt>
            <img src="./assets/pvc chain.webp" alt>
            <img src="./assets/AMLIGHT.jpg" alt>
            <img src="./assets/mlamp.jpg" alt>
            <img src="./assets/lamp2.jpg" alt>
            </figure>
            </div>
          </div>
        </h1>
        
    </div>
  </header>
    

</section> 
<section class="aboutcompany">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="./assets/mlamp.jpg" width="100px" alt="lamp1"> 
      </div>
      <div class="col-md-8">
        <h3 class="h3-1">About Company</h3>
        <p>
          Leveraging on our extensive industry experience of 34 years, we "Continental Commercial Company", 
          established in the year 1977 have placed ourselves as one of the trusted manufacturers, suppliers, 
          retailers, wholesalers and exporters of Machine Lamp, Coolant Pipe, Collets & Other Industrial Products. 
          All our products have high utility in varied industries such as automobile, shipping, jewelery and others. 
          Our range comprises Flexible Shaft, Grinder Machine, Extension Lamp, Spot Light, Press Light and Arm Light. 
          In addition, we offer Tier Lamp, PL CNC Lamp, Lamps, CNC Machines Fergoflex Coolant Pipe, Spout Assembly and 
          Flex-o-Line PVC Coolant Pipe. The base of our lamp is durable, strong and easy to fix on the wall or on a machine. 
          These lamps can move forward or backward, left to right and up or down. Our lamps find an extensive application 
          in automobile, textile, pharmaceuticals, engineering, jewelery, packaging, electrical and a host of other industries. 
          Clients can avail these products that are known for their scratch resistant, durable and energy efficient attribute.

          For the production of a superior quality product, we have equipped sophisticated machines at our infrastructure. 
          These high-tech machinery has allowed us to develop a world-class array of products in a short frame of time. With 
          the help of these machines, we have been able to fulfill even the bulk requirements of the clients. For the proper 
          maintenance and operation of these high-tech machines, we have appointed the most proficient technicians. Further, 
          we have a R&D unit that is responsible for improvisation of technology. Owing to all these factors, we have been able 
          to gain a huge clientele across the nation.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="booking">
<div class="container-fluid  p-3">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <div id="slider1">
          <figure>
          <img src="./assets/AMLIGHT.jpg" alt>
          <img src="./assets/amlight2.jpg" alt>
          <img src="./assets/armlight3.jpg" alt>
          <!-- <img src="./assets/pvc chain.webp" alt> -->
          <!-- <img src="./assets/lamp2.jpg" alt> -->
          </figure>
          </div>
        <!-- <img src="./assets/AMLIGHT.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">ARMLIGHT</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
          
        </div>
        <div class="card-footer">
          <div class="modal-container">
            <input id="modal-toggle1" type="checkbox">
            <label class="modal-btn" for="modal-toggle1" alt="clickbutton">Click to Know More</label> 
            <label class="modal-backdrop"></label>
           
            <div class="modal-content">
             <label class="modal-close" for="modal-toggle1">x</label>
             <h2 class="h22">ARMLIGHT</h2>
             <div class="scroll">
              <div class="row justify-content-md-center">
                <div class="col">
                  <div class="row1">
                    <div class="card">
                      <img src="./assets/AMLIGHT.jpg" alt="Nature" width="50%">
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card p-4">
                  <h3>For better illumination on all types of conventional machines</h3>
                  <p>
                    Our clients can avail a high quality range of Arm Light, which is available in 9W, 11W & 18W. To meet the
                    diverse requirements of the clients, we offer these lights in varied specifications. The desired life of our CFL
                    with OSRAM is 8000 hrs. These lights are widely used in the industry for their durable and power saving quality
                  </p>
                  <!-- <div class="table-responsive"> -->
                    <div class="scroll">
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr>
                          
                          <th scope="col">Features</th>
                          <th scope="col">Description</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <!-- <th scope="row">1</th> -->
                          <th>Models</th>
                          <td>ML915/ML1115/ML1815 9W=60W Bulb11W=75WBulb18W=100WBulb</td>
                          
                        </tr>
                        <tr>
                          <!-- <th scope="row">2</th> -->
                          <th>Tube Light</th>
                          <td>Osram make 9W/11W/18W PL (White/Yellow) with expected life of 8000Hrs.</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">3</th> -->
                          <th>Ballast</th>
                          <td>Philips / b,a,g. make Electro-magnetic ballast 230 AC</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">4</th> -->
                          <th>Power Consumption</th>
                          <td>11W/13W/20W</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Lamp Enclosure</th>
                          <td>Powder coated enclosure</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Stand</th>
                          <td>Sturdy, vibration and shock resistant powder coated, 15" Aluminum pipe stand</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Protection</th>
                          <td>Splash resistant - 2mm Acrylic cover with Nitrile rubber gasket</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Cable</th>
                          <td>3 Core cable x 2 Meters</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Mounting</th>
                          <td>Horizontal/vertical mounting with switch</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- </div> -->
                </div>
                </div>
              </div>
            </div>
              <div class="footer">
                <label class="modal-content-btn nav-link" routerLink="../products" for="modal-toggle1">Visit</label>
              </div> 
            </div>          
           </div> 
          <!-- <button type="button" href="#" class="btn btn-primary">Buy Now</button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div id="slider2">
          <figure>
          <!-- <img src="./assets/lamp2.jpg" alt> -->
          <img src="./assets/pvc chain.webp" alt>
          <img src="./assets/pvc-chain2.png" alt>
          <img src="./assets/pvc-chain3.jpg" alt>
          <!-- <img src="./assets/lamp2.jpg" alt> -->
          </figure>
          </div>
        <!-- <img src="./assets/pvc chain.webp" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Light</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to additional content.
          </p>
          
        </div>
        <div class="card-footer">
          <div class="modal-container">
            <input id="modal-toggle2" type="checkbox" >
            <label class="modal-btn" for="modal-toggle2" alt="clickbutton">Click to Know More</label> 
            <label class="modal-backdrop"></label>
           
            <div class="modal-content">
             <label class="modal-close" for="modal-toggle2">x</label>
             <h2 class="h22">PVC CHAIN</h2>
             <div class="scroll">
              <div class="row justify-content-md-center">
                <div class="col">
                  <div class="row1">
                    <div class="card">
                      <img src="./assets/pvc chain.webp" alt="Nature" width="50%" >
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card p-4">
                  <h3>Made from UV Protected PVC.</h3>
                  <div class="table table-borderless">
                    <tbody>
                      <tr>
                        <!-- <th scope="row">1</th> -->
                        <th>Plastic Chain - Solid 7 mm</th>
                        <td>Used for crowd control, displays, gardens, and numerous non-load bearing uses. Bag of 100 meter. Various colour available</td>
                        
                      </tr>
                      <tr>
                        <!-- <th scope="row">2</th> -->
                        <th>Plastic Chain - Solid 4mm</th>
                        <td>
                          Used for toys, pets, displays, gardens, and numerous non-load bearing uses. Bag of 100 meter. Various colour available
                        </td>
                      </tr>
                    </tbody>
                  </div>
                  <!-- <div class="table-responsive"> -->
                    <div class="scroll" >
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr>
                          
                          <th scope="col">Model</th>
                          <thead>
                            <th scope="col">------------------</th>
                            <th scope="col">Dimension</th>
                            <th scope="col">------------------</th>  
                          </thead>
                          
                          <th scope="col">Wtg per 100 mtrs.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <!-- <th scope="row">1</th> -->
                          <td></td>
                          <thead>
                            <th scope="col">Chain ∅</th>
                            <th scope="col">Inside Length</th>
                            <th scope="col">Outside Width (W)</th>  
                          </thead>
                          <td>

                          </td>
                          
                        </tr>
                        <tr>
                          <!-- <th scope="row">2</th> -->
                          <td>CCC Chain 4</td>
                          <tbody>
                            <tr>
                              <td>4 mm (.100”)</td>
                              <td>4 mm (.100”)</td>
                              <td>4 mm (.100”)</td>
                            </tr> 
                          </tbody>
                          <td>45 Kgs</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">3</th> -->
                          <td>CCC Chain 7</td>
                          <tbody>
                            <tr>
                              <td>4 mm (.100”)</td>
                              <td>4 mm (.100”)</td>
                              <td>4 mm (.100”)</td>
                            </tr>
                            
                          </tbody>
                          
                          <td>45 Kgs  </td>
                        </tr>
                        
                        
                        
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- </div> -->
                </div>
                </div>
              </div>
            </div>
              <div class="footer">
                <label class="modal-content-btn nav-link" routerLink="../products" for="modal-toggle1">Visit</label>
              </div>   
            </div>          
           </div>
          <!-- <button type="button" href="#" class="btn btn-primary">Buy Now</button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div id="slider3">
          <figure>
          <!-- <img src="./assets/flexible_shaft_grinder-1.png" alt> -->
          <img src="./assets/Flexible Shaft Grinder.jpg" alt>
          <img src="./assets/Flexible-Shaft-Grinder3.jpg" alt>
          <img src="./assets/f.png " alt>
          <!-- <img src="./assets/lamp2.jpg" alt> -->
          </figure>
          </div>
        <!-- <img src="./assets/lamp2.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Flexible Shaft Grinder</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          </p>
          
        </div>
        <div class="card-footer">
          <div class="modal-container">
            <input id="modal-toggle3" type="checkbox">
            <label class="modal-btn" for="modal-toggle3">Click to Know More</label> 
            <label class="modal-backdrop"></label>
           
            <div class="modal-content">
             <label class="modal-close" for="modal-toggle3">x</label>
             <h2 class="h22">ARMLIGHT</h2>
             <div class="scroll">
              <div class="row justify-content-md-center">
                <div class="col">
                  <div class="row1">
                    <div class="card">
                      <img src="./assets/Flexible Shaft Grinder.jpg" alt="Nature" width="50%" >
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card p-4">
                  <h3>Machenical Lamp</h3>
                  <p>Our clients can avail a high quality range of Arm Light, which is available in 9W, 11W & 18W. To meet the
                    diverse requirements of the clients, we offer these lights in varied specifications. The desired life of our CFL
                    with OSRAM is 8000 hrs. These lights are widely used in the industry for their durable and power saving quality
                  </p>
                  <!-- <div class="table-responsive"> -->
                    <div class="scroll">
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr>
                          
                          <th scope="col">Features</th>
                          <th scope="col">Description</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <!-- <th scope="row">1</th> -->
                          <th>Models</th>
                          <td>ML915/ML1115/ML1815 9W=60W Bulb11W=75WBulb18W=100WBulb</td>
                          
                        </tr>
                        <tr>
                          <!-- <th scope="row">2</th> -->
                          <th>Tube Light</th>
                          <td>Osram make 9W/11W/18W PL (White/Yellow) with expected life of 8000Hrs.</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">3</th> -->
                          <th>Ballast</th>
                          <td>Philips / b,a,g. make Electro-magnetic ballast 230 AC</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">4</th> -->
                          <th>Power Consumption</th>
                          <td>11W/13W/20W</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Lamp Enclosure</th>
                          <td>Powder coated enclosure</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Stand</th>
                          <td>Sturdy, vibration and shock resistant powder coated, 15" Aluminum pipe stand</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Protection</th>
                          <td>Splash resistant - 2mm Acrylic cover with Nitrile rubber gasket</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Cable</th>
                          <td>3 Core cable x 2 Meters</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Mounting</th>
                          <td>Horizontal/vertical mounting with switch</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- </div> -->
                </div>
                </div>
              </div>
              </div>
              <div class="footer">
                <label class="modal-content-btn nav-link" routerLink="../products" for="modal-toggle1">Visit</label>
              </div>  
            </div>          
           </div>
          <!-- <button type="button" href="#" class="btn btn-primary">Buy Now</button> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div id="slider4">
          <figure>
          <img src="./assets/lamp2.jpg" alt>
          <img src="./assets/pvc chain.webp" alt>
          <img src="./assets/lamp2.jpg" alt>
          <!-- <img src="./assets/lamp2.jpg" alt> -->
          
          </figure>
          </div>
        <!-- <img src="./assets/lamp2.jpg" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Tube</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          </p>
          
        </div>
        <div class="card-footer">
          <div class="modal-container">
            <input id="modal-toggle4" type="checkbox">
            <label class="modal-btn" for="modal-toggle4">Click to Know More</label> 
            <label class="modal-backdrop"></label>
           
            <div class="modal-content">
             <label class="modal-close" for="modal-toggle4">x</label>
             <h2 class="h22">ARMLIGHT</h2>
             <div class="scroll">
              <div class="row justify-content-md-center">
                <div class="col">
                  <div class="row1">
                    <div class="card">
                      <img src="./assets/lamp2.jpg" alt="Nature" width="50%" >
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card p-4">
                  <h3>Machenical Lamp</h3>
                  <p>Our clients can avail a high quality range of Arm Light, which is available in 9W, 11W & 18W. To meet the
                    diverse requirements of the clients, we offer these lights in varied specifications. The desired life of our CFL
                    with OSRAM is 8000 hrs. These lights are widely used in the industry for their durable and power saving quality
                  </p>
                  <!-- <div class="table-responsive"> -->
                    <div class="scroll">
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr>
                          
                          <th scope="col">Features</th>
                          <th scope="col">Description</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <!-- <th scope="row">1</th> -->
                          <th>Models</th>
                          <td>ML915/ML1115/ML1815 9W=60W Bulb11W=75WBulb18W=100WBulb</td>
                          
                        </tr>
                        <tr>
                          <!-- <th scope="row">2</th> -->
                          <th>Tube Light</th>
                          <td>Osram make 9W/11W/18W PL (White/Yellow) with expected life of 8000Hrs.</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">3</th> -->
                          <th>Ballast</th>
                          <td>Philips / b,a,g. make Electro-magnetic ballast 230 AC</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">4</th> -->
                          <th>Power Consumption</th>
                          <td>11W/13W/20W</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Lamp Enclosure</th>
                          <td>Powder coated enclosure</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Stand</th>
                          <td>Sturdy, vibration and shock resistant powder coated, 15" Aluminum pipe stand</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Protection</th>
                          <td>Splash resistant - 2mm Acrylic cover with Nitrile rubber gasket</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Cable</th>
                          <td>3 Core cable x 2 Meters</td>
                        </tr>
                        <tr>
                          <!-- <th scope="row">5</th> -->
                          <th>Mounting</th>
                          <td>Horizontal/vertical mounting with switch</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- </div> -->
                </div>
                </div>
              </div>
              </div>
              <div class="footer">
                <label class="modal-content-btn nav-link" routerLink="../products" for="modal-toggle1">Visit</label>
              </div>  
            </div>          
           </div>
          <!-- <button type="button" href="#" class="btn btn-primary">Buy Now</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- <section class="section-features">
  
</section> -->

<!-- <div class="container4">
	
	<input type="radio" id="i6" name="images" checked title="i6"/>
	<input type="radio" id="i7" name="images" title="i7"/>
	<input type="radio" id="i8" name="images" title="i8"/>
	<input type="radio" id="i9" name="images" title="i9"/>
	<input type="radio" id="i10" name="images" title="i10"/>	
	
	<div class="slide_img" id="six">			
			
			<img src="./assets/lamp2.jpg" title="Lamps">
			
				<label class="prev" for="i5"><span>&#x2039;</span></label>
				<label class="next" for="i2"><span>&#x203a;</span></label>	
		
	</div>
	
	<div class="slide_img" id="seven">
		
			<img src="./assets/lamp2.jpg" title="Lamps" >
			
				<label class="prev" for="i1"><span>&#x2039;</span></label>
				<label class="next" for="i3"><span>&#x203a;</span></label>
		
	</div>
			
	<div class="slide_img" id="eight">
			<img src="./assets/lamp2.jpg" title="Lamps">	
			
				<label class="prev" for="i2"><span>&#x2039;</span></label>
				<label class="next" for="i4"><span>&#x203a;</span></label>
	</div>

	<div class="slide_img" id="nine">
			<img src="./assets/lamp2.jpg" title="Lamps">	
			
				<label class="prev" for="i3"><span>&#x2039;</span></label>
				<label class="next" for="i5"><span>&#x203a;</span></label>
	</div>

	<div class="slide_img" id="ten">
			<img src="./assets/lamp2.jpg" title="Lamps">	
			
				<label class="prev" for="i4"><span>&#x2039;</span></label>
				<label class="next" for="i1"><span>&#x203a;</span></label>

	</div>

	<div id="nav_slide">
		<label for="i6" class="dots" id="dot6"></label>
		<label for="i7" class="dots" id="dot7"></label>
		<label for="i8" class="dots" id="dot8"></label>
		<label for="i9" class="dots" id="dot9"></label>
		<label for="i10" class="dots" id="dot10"></label>
	</div>
		
</div> -->



<div class="about-section">
  <div class="inner-container">
      <h1>Why Us</h1>
      <p class="text">
        Our focus towards carving a special niche for ourselves in Indian as well as in the international market. In order to fulfill this target, we have invested varied painstaking efforts and performed 24X7 with utmost perfection and dedication. It is due to our huge clientele and goodwill in markets that we have been able to stand apart from our competitors.
        Following are the reasons that helped us in attaining utmost client satisfaction:
      </p>
      <div class="skills">
          <span>State-of-the-art infrastructure</span>
          <span>Superior quality of products</span>
          <span>Effective research activities</span>
          <span>Competent team</span>
          <span>Client friendly approach</span>
      </div>
  </div>
</div>
<div class="about-section1">
  <div class="inner-container1">
      <h1>Our Team</h1>
      <p class="text">
        The enterprise believes that teamwork is the key to touch the new heights of growth and hence, we have appointed a highly coordinated team of professionals. Our workforce comprises skilled professionals, who sustain a good working environment in order to ensure the smooth business processes. Having expertise and skills in their respective domain, our experts have allowed us to understand the patrons' requirement and fulfill the same in a timely manner. Further, they are well-aware of the ongoing market trends that are devised in the manufacturing of the entire range of products.
        Our group of professionals includes the following:
      </p>
      <div class="skills">
          <span>Machine operators</span>
          <span>Technicians</span>
          <span>Engineers</span>
          <span>Quality controllers</span>
          <span>Research experts</span>
      </div>
  </div>
</div>

<!-- Logo Margue------------------------------------ -->
<div class="containersmallslider">
  <h4 class="client">Client List</h4>
<div class="row small">
  <div class="imagegroup" style="animation-delay: 1s;">
     <img src="./assets/sail.webp" alt="">
     <img src="./assets/haldirams.jpg" alt="">
     <img src="./assets/tata.jpg" alt="">
     <img src="./assets/Bemco.jpg" alt="">
     <img src="./assets/titan.png" alt="">
     <img src="./assets/BHEL.jpg" alt="">
  </div>
</div>
</div>






