<section class="slide ">
    <header class="header">
      <div class="text-box">
          <h1 class="headig-primary justify-content-center">
              <span class="heading-primary--main">Check Out Our Products</span>
              <span class="heading-primary--sub">Continental Commercial Company</span>
              <!-- <span class="heading-primary--sub"> <a href="/" class="btn1 btn1--white btn1--animation">Read More</a></span> -->
          </h1>
      </div>
  </header>
  </section>

  <section class="productdisplay">
    <div class="row">
      <div class="col-md-2">
        <div class="container">
          <header class="header1" role="banner">
            <h1 class="logo">
              <a href="#"><img src="./assets/conti.png" width="200px" alt="trillo" class="logo"></a>
            </h1>
            <div class="nav-wrap">
              <div class="main1" >
                <ul class="unstyled list-hover-slide">
                  <li><a href="#">ArmLight</a></li>
                  <li><a href="#">Pvc Chain</a></li>
                  <li><a href="#">Collet</a></li>
                  <li><a href="#">Coolent Pipe</a></li>
                  <li><a href="#">Flexible Shaft</a></li>
                  <li><a href="#">Flexible Shaft Grinder</a></li>
                  <li><a href="#">Mounted Point</a></li>
                </ul>
              </div>
              
            </div>
          </header>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="card card-1">
              <h3>No of Items</h3>
              <h5>30</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card-1">
              <h3>Price Range</h3>
              <h5>1000-99999</h5>
              
            </div>
          </div>
          <div class="col">
            <div class="card card-1">
              <h3>Quality</h3>
              <h5>As you Like</h5>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="card mb-3" >
              <div class="row g-0">
                <div class="card-header">
                  <h3>Machenical Lamp</h3>
                </div>
                <div class="col-md-4">
                  
                  <img src="./assets/AMLIGHT.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                   
                    
                    <p>Our clients can avail a high quality range of Arm Light, which is available in 9W, 11W & 18W. To meet the
                      diverse requirements of the clients, we offer these lights in varied specifications. The desired life of our CFL
                      with OSRAM is 8000 hrs. These lights are widely used in the industry for their durable and power saving quality
                    </p>
                    <!-- <div class="table-responsive"> -->
                      <div class="scroll">
                      <table class="table table-borderless table-hover">
                        <thead>
                          <tr>
                            
                            <th scope="col">Features</th>
                            <th scope="col">Description</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <th>Models</th>
                            <td>ML915/ML1115/ML1815 9W=60W Bulb11W=75WBulb18W=100WBulb</td>
                            
                          </tr>
                          <tr>
                            <!-- <th scope="row">2</th> -->
                            <th>Tube Light</th>
                            <td>Osram make 9W/11W/18W PL (White/Yellow) with expected life of 8000Hrs.</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">3</th> -->
                            <th>Ballast</th>
                            <td>Philips / b,a,g. make Electro-magnetic ballast 230 AC</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">4</th> -->
                            <th>Power Consumption</th>
                            <td>11W/13W/20W</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">5</th> -->
                            <th>Lamp Enclosure</th>
                            <td>Powder coated enclosure</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">5</th> -->
                            <th>Stand</th>
                            <td>Sturdy, vibration and shock resistant powder coated, 15" Aluminum pipe stand</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">5</th> -->
                            <th>Protection</th>
                            <td>Splash resistant - 2mm Acrylic cover with Nitrile rubber gasket</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">5</th> -->
                            <th>Cable</th>
                            <td>3 Core cable x 2 Meters</td>
                          </tr>
                          <tr>
                            <!-- <th scope="row">5</th> -->
                            <th>Mounting</th>
                            <td>Horizontal/vertical mounting with switch</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" >
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="./assets/AMLIGHT.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" >
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="./assets/AMLIGHT.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    
                      <h3>Machenical Lamp</h3>
                      <p>Our clients can avail a high quality range of Arm Light, which is available in 9W, 11W & 18W. To meet the
                        diverse requirements of the clients, we offer these lights in varied specifications. The desired life of our CFL
                        with OSRAM is 8000 hrs. These lights are widely used in the industry for their durable and power saving quality
                      </p>
                      <!-- <div class="table-responsive"> -->
                        <div class="scroll">
                        <table class="table table-borderless table-hover">
                          <thead>
                            <tr>
                              
                              <th scope="col">Features</th>
                              <th scope="col">Description</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <!-- <th scope="row">1</th> -->
                              <th>Models</th>
                              <td>ML915/ML1115/ML1815 9W=60W Bulb11W=75WBulb18W=100WBulb</td>
                              
                            </tr>
                            <tr>
                              <!-- <th scope="row">2</th> -->
                              <th>Tube Light</th>
                              <td>Osram make 9W/11W/18W PL (White/Yellow) with expected life of 8000Hrs.</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">3</th> -->
                              <th>Ballast</th>
                              <td>Philips / b,a,g. make Electro-magnetic ballast 230 AC</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">4</th> -->
                              <th>Power Consumption</th>
                              <td>11W/13W/20W</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Lamp Enclosure</th>
                              <td>Powder coated enclosure</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Stand</th>
                              <td>Sturdy, vibration and shock resistant powder coated, 15" Aluminum pipe stand</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Protection</th>
                              <td>Splash resistant - 2mm Acrylic cover with Nitrile rubber gasket</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Cable</th>
                              <td>3 Core cable x 2 Meters</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Mounting</th>
                              <td>Horizontal/vertical mounting with switch</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" >
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="./assets/AMLIGHT.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    
                      <h3>Machenical Lamp</h3>
                      <p>Our clients can avail a high quality range of Arm Light, which is available in 9W, 11W & 18W. To meet the
                        diverse requirements of the clients, we offer these lights in varied specifications. The desired life of our CFL
                        with OSRAM is 8000 hrs. These lights are widely used in the industry for their durable and power saving quality
                      </p>
                      <!-- <div class="table-responsive"> -->
                        <div class="scroll">
                        <table class="table table-borderless table-hover">
                          <thead>
                            <tr>
                              
                              <th scope="col">Features</th>
                              <th scope="col">Description</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <!-- <th scope="row">1</th> -->
                              <th>Models</th>
                              <td>ML915/ML1115/ML1815 9W=60W Bulb11W=75WBulb18W=100WBulb</td>
                              
                            </tr>
                            <tr>
                              <!-- <th scope="row">2</th> -->
                              <th>Tube Light</th>
                              <td>Osram make 9W/11W/18W PL (White/Yellow) with expected life of 8000Hrs.</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">3</th> -->
                              <th>Ballast</th>
                              <td>Philips / b,a,g. make Electro-magnetic ballast 230 AC</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">4</th> -->
                              <th>Power Consumption</th>
                              <td>11W/13W/20W</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Lamp Enclosure</th>
                              <td>Powder coated enclosure</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Stand</th>
                              <td>Sturdy, vibration and shock resistant powder coated, 15" Aluminum pipe stand</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Protection</th>
                              <td>Splash resistant - 2mm Acrylic cover with Nitrile rubber gasket</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Cable</th>
                              <td>3 Core cable x 2 Meters</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">5</th> -->
                              <th>Mounting</th>
                              <td>Horizontal/vertical mounting with switch</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
      </div>
      </div>
    </div>
    
  </section>