<section class="header">
  <nav class="navbar navbar-expand-lg">
    
      
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()" title="nav">
      <span class="navbar-toggler-icon"><img src="./assets/ham.png" width="30px" title="..."></span>
    </button>


    <div class="user-nav">
      <img src="./assets/conti.png" alt="trillo" class="logo">
      
      
    </div>
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="./home">Home</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="./aboutus">About</a>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Products</a>
          <div class="dropdown-content">
            <a class="nav-link" routerLink="./products">ArmLight</a>
            <a href="#">PVC Chain</a>
            <a href="#">Collet</a>
            <a href="#">Coolent Pipe</a>
            <a href="#">Flexible Shaft</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="./aboutus">Enquiry</a>
        </li>
      </ul>
    </div>

  </nav>
</section>
<section class="mainpage">
 <router-outlet></router-outlet> 
</section>

<section class="footer">

  <div class="legal">
    &copy; 2022 By Contiflex.com. All rights reserved.
  </div>
</section>



<div class="accordion">
  <div class="accordion-tab">
      <input id="toggle1" type="checkbox" class="accordion-toggle" name="toggle" />
      <label for="toggle1">Want Help!</label>
      <div class="accordion-content">
          <h6>Welcome to ContiFlex</h6>
          <label for="msg"><b>Message</b></label>
          <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
      </div>
  </div>
  
</div>