<section class="slide ">
    <header class="header">
      <div class="text-box">
          <h1 class="headig-primary justify-content-center">
              <span class="heading-primary--main">About Us</span>
              <span class="heading-primary--sub">Continental Commercial Company</span>
              <!-- <span class="heading-primary--sub"> <a href="/" class="btn1 btn1--white btn1--animation">Read More</a></span> -->
          </h1>
      </div>
  </header>
  </section> 
<section class="companyProfile">
  <div class="u-center-text">
      <h2 class="heading-secondary">
          Company  Profile
      </h2>
  </div>
  
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2>Key Customers</h2>
        <!-- <ul>
          <li>Titan Industries</li>
          <li>Permanent</li>
          <li>300 Square Feet</li>
        </ul> -->
        <p>Titan Industries</p>
        <p>Balkrishna Industries Limited</p>
        <p>Hindustan Machine Tool</p>
        <p>Hindalco Ltd.</p>
        <p>Bemco</p>
        <p>Bharat Heavy Electricals Ltd.</p>
        <img src="../../../assets/conti.png" width="100" alt="">
      </div>
  
      <div class="box red">
        <h2>Business Type</h2>
        <p>Manufacturer</p>
        <p>Exporter</p>
        <p>Supplier</p>
        <p>Wholesaler</p>
        <p>Trader</p>
        <p>Retailer</p>
        <p>Importer</p>
        <img src="../../../assets/conti.png" width="100" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2>Industry</h2>
        <p>Fabrication</p>
        <p>Fettling</p>
        <p>CNC Manufacturing</p>
        <p>Lathe & Conventional</p>
        <p>Machine Manufacturing</p>
        <p>Buffing</p>
        <p>Grinding Job</p>
        <p>Tyre Retreading Jobs</p>            
        <img src="../../../assets/conti.png" width="100" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>Registered</h2>
        <p>No. 1 - C, 59, Bibijan Street</p>
        <p>(Nagdevi), Mumbai - 400003</p>
        <p>Maharashtra</p>
        <img src="../../../assets/conti.png" width="100" alt="">
      </div>
    </div>
</section>

<section class="companyDetails">
  <div class="container">
    
      
        <div class="col-sm-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-2">
                <div class="item p-4">
                  <img src="../../../assets/ownership.png" width="100" alt="">  
                </div> 
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Ownership & Capital</h5>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Year of Establishment</li>
                        <li>Legal Status of Firm</li>
                        <li>Proprietor Name</li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>1977</li>
                        <li>Proprietoship Firm</li>
                        <li>Mr. N. Yusuf</li>
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-sm btn-primary">Read more...</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-2">
                <div class="item p-4">
                  <img src="../../../assets/infrastructure.webp" width="100" alt="">
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Infrastructure</h5>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Location Type</li>
                        <li>Building Infrastructure</li>
                        <li>Size of Premises</li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>Urban & Rural</li>
                        <li>Permanent</li>
                        <li>300 Square Feet</li>
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-sm btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-2">
                <div class="item p-4">
                  <img src="../../../assets/trade.png" width="100" alt="">
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Trade & Market</h5>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Annual turnover</li>
                        <li>Export percentage</li>
                        
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>2-5 Crore</li>
                        <li>20-40%</li>
                        
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-sm btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-2">
                <div class="item p-4">
                
                  <img src="../../../assets/team.webp" width="100" alt="">
                </div>
                </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Team & Staff</h5>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Total Number of Employees</li>
                        <!-- <li>20-40%</li> -->
                        
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>Upto 10 people</li>
                        <!-- <li>20-40%</li> -->
                        
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-sm btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-2">
                <div class="item p-4">
                <img src="../../../assets/uspp.png" width="100" alt="">
              </div>
            </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Company USP</h5>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Provide After Sales Support</li>
                        <li>Sampling Policy</li>
                        <li>Primary Competitive Advantage</li>
                        <li>Quality Measures/Testing Facilities</li>
                        
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>Operational Training</li>
                        <li>Paid Samples Available</li>
                        <li>Product Cost
                          Experienced R & D Department
                          Large Product Line 
                        </li>
                        <li>Yes</li>
                        
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>User Manual</li>
                        
                        <li>Delevery Charges
                          Good Financial position & TQM
                          OEM Capability
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-sm btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="row">
              <div class="col-sm-2">
                <div class="item p-4">
                <img src="../../../assets/Statutory.jpg" width="100" alt="">
              </div>
            </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Statutory Profile</h5>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Income Tax Registration No.</li>
                        <li>Central Sales Tax No.</li>
                        <li>TIN No./ VAT No.</li>
                        <li>Import Export Code</li>
                        <li>Banker</li>
                        
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>ABTPN8666P</li>
                        <li>27270090252C</li>
                        <li>27270090252V</li>
                        <li>0311085571</li>
                        <li>Canera Bank</li>
                        
                        
                      </ul>
                    </div>
                  </div>
                  <!-- <a href="#" class="btn btn-sm btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        
      
    
  </div>
</section>
<section class="companyPayment">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card1">
          <div class="dot">
            <img src="../../../assets/custom.png" alt="" class="dot_img" width="100px">
          </div>
          <div class="card-body">
            <h5 class="card-title">Customized Packaging</h5>
            <p class="text-center">Yes</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card1">
          <div class="dot">
            <img src="../../../assets/payment.png" alt="" class="dot_img" width="100px">
          </div>
          <div class="card-body">
            <h5 class="card-title">Payment Mode</h5>
            <p class="text-center">Cash Cheque</p>
            <p class="text-center">DD LC</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card1">
          <div class="dot">
            <img src="../../../assets/shipment.webp" alt="" class="dot_img" width="100px">
          </div>
          <div class="card-body">
            <h5 class="card-title">Shipment Mode</h5>
            <p class="text-center">By Air</p>
            <p class="text-center">By Road</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="companymission">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card2">
          <svg class="user-nav__icon">
            <use xlink:href="../../assets/symbol-defs.svg#icon-earth"></use>
          </svg>
          <hr class="new4">
          <div class="card-body">
            <h5 class="card-title">Our Mission</h5>
            <p class="text-center">“To focus on quality and keeping cost under control while trading and manufacturing the best of the tools for the Indian industry.”</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card2">
          <svg class="user-nav__icon">
            <use xlink:href="../../assets/symbol-defs.svg#icon-eye-plus"></use>
          </svg>
          <hr class="new4">
          <div class="card-body">
            <h5 class="card-title">Our Vision</h5>
            <p class="text-center">
              “To be the number one machine tools company in the next 5 years with the most wide range of products to solve customers ever changing mechanical needs”
            </p>
            
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
